* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  background-color: rgb(249, 253, 253);
}
.hlavniMenu {
  background-color: rgb(197, 204, 204);
}
.container {
  display: block;
}
.menu {
  text-align: center;
  opacity: 80%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
  color: rgb(39, 39, 41);
  font-size: 2.5rem;
  font-style: italic;
}
.menu a:hover,
.menu a:focus {
  background-color: rgb(238, 163, 78);
}
header {
  background-image: url('obrazky/backgroundKamera.jpg');
  background-size: cover;
  padding: 150px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  text-align: center;
  color: rgb(236, 233, 232);
  margin: 40px;
  font-size: 4rem;
  font-style: italic;
}
a {
  text-decoration: none;
  color: rgb(218, 104, 11);
}
.nasePrace {
  margin: 30px 30px;
}

.projekt {
  text-align: center;
  margin-top: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.profil {
  display: flex;
  margin: 30px;
}

.popisek {
  margin: 1em;
}

.profile_pic {
  width: 200px;
}

.profile_pic--reverse {
  transform: rotateY(180deg);
}
